<div class="compile">
    <div class="center-vertical">
        <div class="center-horizontal">
            <div class="center-card text-md-center">
                <h1 class="centered">Compiling Submissions</h1>
                <div class="centered">
                    <a id="download" ng-href="{{allSubmissionsLink}}"><button id="loading_button" class="btn btn-lg btn-primary m-progress">
                        Download
                    </button></a>
                </div>
                <p class="card-text centered">
                    {{message}}
                </p>
            </div>
        </div>
    </div>
</div>