<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

<!-- Where all the magic happens -->
<!-- LOGIN FORM -->
<div class="text-center" style="padding:50px 0">
    <img class="login-image" src="/images/karel.png">
    <div class="logo">Paperless Partners</div>
    <!-- Main Form -->
    <div class="login-form-1">
        <form id="login-form" class="text-left" ng-submit="compile()" method="POST">
            <div ng-if="error" class="alert alert-danger">
                <strong>Missing:</strong> {{error}}
            </div>
            <div class="login-form-main-message"></div>
            <div class="main-login-form">
                <div class="login-group">
                    <div class="form-group">
                        <label for="lg_username" class="sr-only">Username</label>
                        <input type="text" ng-model="user" class="form-control" id="lg_username" name="lg_username" placeholder="sunet">
                    </div>
                    <div class="form-group">
                        <label for="lg_password" class="sr-only">Password</label>
                        <input type="password" ng-model="password" class="form-control" id="lg_password" name="lg_password" placeholder="password">
                    </div>
                    <div class="form-group">
                        <label for="lg_course" class="sr-only">Course</label>
                        <input type="text" ng-model="course" class="form-control" id="lg_course" name="lg_course" placeholder="course (e.g. CS106A)">
                    </div>
                    <div class="form-group">
                        <label for="lg_quarter" class="sr-only">Quarter</label>
                        <input type="text" ng-model="quarter" class="form-control" id="lg_quarter" name="lg_quarter" placeholder="quarter (e.g. SPR2015)">
                    </div>
                    <div class="form-group">
                        <label for="lg_assignment" class="sr-only">Assignment</label>
                        <input type="text" ng-model="assignment" class="form-control" id="lg_assignment" name="lg_assignment" placeholder="assignment number">
                    </div>
                </div>
                <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
            </div>
        </form>
    </div>
    <!-- end:Main Form -->
</div>